body{
    margin: 24px;
    font-family: monospace;
    font-size: 100%;
    margin-left: 2em;
    margin-right: 2em;
    background-color: black;
    width: auto;
    padding: auto;
    color: whitesmoke;
    font-weight: bold;
    padding-bottom: 50px;
    background-image: url('./images/nick-nice-gPm8h3DS1s4-unsplash.jpg');
    
    }

section{
    margin-top: 50px;
}
.page p{
    font-size: 0.5cm;
    margin-left:80px;
    color:darkgreen;
}
hr{
    opacity:0.5;
}
.nav{
    position: fixed;

}
.nav a{

    color: whitesmoke;
    text-decoration: none;
    padding:14px 16px;
    top: 0;
    margin-bottom: 50px;  

}

.nav a:hover{
    color:red;
}

.nav :active{
    background-color: blue;

}
.head{
    display:flex;
}
.head h1{
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 150px;
    font-size: 1.0cm;
}
.work{
    display: flex;
    flex-direction: row;
}
.pro p{

    text-align: center;
    color:whitesmoke;
    max-width:250px;
    min-height:250px;
    margin-left: 100px;
}

.pro a{
    color:whitesmoke;
    text-decoration: none;
}
.pro a:hover{
    color:red;
}

.pro :active{
    background-color: blue;
}

.tro p{
    text-align: center;
    color:whitesmoke;
    max-width:250px;
    min-height:250px;
    margin-left:500px;
    }

.tro a{
    color:whitesmoke;
    text-decoration: none;
}
.tro a:hover{
    color:red;
}

.tro :active{
    background-color: blue;
}
img{
    max-width:250px;
    height:auto;
}
h5{ 
    margin-left: 507px;
    color: darkgreen;
}
h6{
    margin-left: 109px;
    color: darkgreen;
}

.cv a{
    color: whitesmoke;
    text-decoration: none;
    float: right;
}


h2{
    text-align: center;
    color:whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.0cm;
}

h3{
    text-align: center;
    color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.0cm;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bit{
    display: flex;
}
.bit p{

    border-radius: 50%;
    margin: 1%;
    color: whitesmoke;
    border: 3px solid darkgreen;
    text-align: center;
    padding: 100px;
    min-width: 30px;
    max-height: 30px;
}
.tit{
    display: flex;
}
.tit p{
    border-radius: 50%;
    margin: 1%;
    color: whitesmoke;
    border: 3px solid darkgreen;
    text-align: center;
    padding: 100px;
    min-width:30px;
    max-height: 30px;
}

.bit .hit{
    margin-top: 150px;
    margin-left: 100px;
    
}

.bit .mit{
    margin-bottom: 20px;
    margin-left: 200px;
    
}
.tit .l{
    margin-top: 150px;
    margin-left: 100px;
    
    
}
.tit .b{
    margin-bottom: 20px;
    margin-left: 200px;

}
h4{
    font-size: 1.0cm;
    text-align: center;
}
.skills p{
    font-size:0.5cm;
    text-align: center;
    color: darkgreen;
}
footer{
    display:block;
    text-align: center;
    font-size: 0.5cm;
}

.hit a{
    text-decoration: none;
    color: whitesmoke;
}
.mit a{
    text-decoration: none;
    color:whitesmoke;
}

.l a{
    text-decoration: none;
    color:whitesmoke;
}
.b a{
    text-decoration: none;
    color: whitesmoke;
}
h7{
    color: darkgreen;
}

@media(max-width:600px){
    body{
        margin:8px
    }
}

.container a:hover{
    color: red;}

.hit :active{
    background-color: blue;}
.mit :active{
    background-color: blue;}
.l :active{
    background-color: blue;}
.b :active{
    background-color: blue;}