
body{
    margin: 24px;
    font-family: monospace;
    font-size: 100%;
    margin-left: 2em;
    margin-right: 2em;
    background-color: black;
    width: auto;
    padding: auto;
    color: whitesmoke;
    font-weight: bold;
    padding-bottom: 50px;
    background-image: url('./images/nick-nice-gPm8h3DS1s4-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }

section{
    margin-top: 50px;
}
.page p{
    font-size: 0.5cm;
    margin-left:80px;
    color:darkgreen;
}
hr{
    opacity:0.5;
}

.navigation{
  display: flex;
}
.nav{
    display: flex;
    position: fixed;
    top:0;

}
.nav a{
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
    text-decoration: none;
    top: 0;
    padding: 20%;

}

.nav a:hover{
    color:red;
}

.nav :active{
    background-color: blue;

}
.head{
    display:flex;
}
.head h1{
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 150px;
    font-size: 1.0cm;
}
@media (max-width: 600px) {
    .head h1{
      font-size: 100%;
    }
    
    .nav a{
        flex-direction: column;
        align-items: flex-start;
        padding: auto;
    }
  }
.work{
    display: flex;
    flex-direction: row;
}
.pro p{

    text-align: center;
    color:whitesmoke;
    max-width:250px;
    min-height:250px;
    margin-left: 100px;
}

.pro a{
    color:whitesmoke;
    text-decoration: none;
}
.pro a:hover{
    color:red;
}

.pro :active{
    background-color: blue;
}

.tro p{
    text-align: center;
    color:whitesmoke;
    max-width:250px;
    min-height:250px;
    margin-left:500px;
    }

.tro a{
    color:whitesmoke;
    text-decoration: none;
}
.tro a:hover{
    color:red;
}

.tro :active{
    background-color: blue;
}
img{
    max-width: 100%;
    min-height: auto;
    width:250px;
    height:200px;
}
h5{
    margin-left: 507px;
    color: darkgreen;
}
h6{
    margin-left: 109px;
    color: darkgreen;
}

.cv a{
    color: whitesmoke;
    text-decoration: none;
    float: right;
}

.cv a:hover{
    color:red;
}

.cv :active{
    background-color: blue;
}

h2{
    text-align: center;
    color:whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.0cm;
}

h3{
    text-align: center;
    color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.0cm;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bit{
    display: flex;
}
.bit p{

    border-radius: 50%;
    margin: 1%;
    color: whitesmoke;
    border: 3px solid darkgreen;
    text-align: center;
    padding: 100px;
    min-width: 30px;
    max-height: 30px;
}
.tit{
    display: flex;
}
.tit p{
    border-radius: 50%;
    margin: 1%;
    color: whitesmoke;
    border: 3px solid darkgreen;
    text-align: center;
    padding: 100px;
    min-width:30px;
    max-height: 30px;
}

.bit .hit{
    margin-top: 150px;
    margin-left: 100px;

}

.bit .mit{
    margin-bottom: 20px;
    margin-left: 200px;

}
.tit .l{
    margin-top: 150px;
    margin-left: 100px;


}
.tit .b{
    margin-bottom: 20px;
    margin-left: 200px;

}
h4{
    font-size: 1.0cm;
    text-align: center;
}
.skills p{
    font-size:0.5cm;
    text-align: center;
    color: darkgreen;
}
footer{
    display:block;
    text-align: center;
    font-size: 0.5cm;
}

.hit a{
    text-decoration: none;
    color: whitesmoke;
}
.mit a{
    text-decoration: none;
    color:whitesmoke;
}

.l a{
    text-decoration: none;
    color:whitesmoke;
}
.b a{
    text-decoration: none;
    color: whitesmoke;
}
h7{
    color: darkgreen;
}


.container a:hover{
    color: red;}

.hit :active{
    background-color: blue;}
.mit :active{
    background-color: blue;}
.l :active{
    background-color: blue;}
.b :active{
    background-color: blue;}

@media all and (max-width:500px) {
    body{
        margin:8px;
    }
    section{
        margin-top:10px;
    }
    .page p{
        margin-left: 10px;
        font-size: 100%;
        margin-top: 50px;
        margin-bottom: 1px;
    }
    .head h1{
        font-size: 0.5cm;
        margin-top: 0px;
    }
    
    
    
    .tro{
        display: block;
        float: inline-start;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        flex:1 0 auto;
    }
    .bit{
        display: flex;
        align-items: center;
    }
    .bit p{

        border-radius: 50%;
        text-align: center;
        padding: 70px;
        min-width: 0px;
        max-height: 0px;
    }
    .tit{
        display: flex;
        align-items: center;
    }
    .tit p{
        padding: 70px;
        min-width:0px;
        max-height: 0px;
    }

    .bit .hit{
        margin-top: 100px;
        margin-left: 0px;
    }

    .bit .mit{
        margin-bottom: 10px;
        margin-left: 0px;
    
    }
    .tit .l{
        margin-top: 100px;
        margin-left: 00px;
    
    
    }
    .tit .b{
        margin-bottom: 10px;
        margin-left: 0px;
    
    }
    h3{
        font-size: 100%;
        text-align: center;
    }
    h4{
        font-size: 100%;
    }
    .skills p{
        font-size: 100%;
    }
    footer{
        font-size: 100%;
    }
    
}